<div >
  <mat-card id="card">
    <p class="title">Preferenze di stile</p>
    <mat-card-title>
      <p>Cambia il logo per i tenant</p>
      <form [formGroup]="whiteLabel" action="#">
        <fieldset>
          <div
            id="square"
            (dragover)="onDragOver($event)"
            (drop)="onDropSuccess($event)"
          >
            <input
              type="file"
              name="file"
              accept="image/*"
              id="file"
              class="inputfile"
              (change)="onImageChange($event)"
              formControlName="imgSrc"
            />
            <label for="file" textWrap="true">{{ labelText }}</label>
          </div>
          <button
            (click)="upload()"
            [disabled]="!whiteLabel.valid"
            id="save"
            mat-button=""
            mat-raised-button=""
            color="primary"
            type="submit"
            class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary"
          >
            Salva
          </button>
        </fieldset>
      </form>
    </mat-card-title>
  </mat-card>
</div>
