<div>
  <mat-card id="card">
    <p class="title">Preferenze di stile</p>
    <mat-card-title>
      <p>Cambia il logo per i tenant</p>
      <form action="">
        <fieldset>
          <div class="drop-zone">
            <input
            id="button"
              type="file"
              accept="image/png, image/jpeg, image/svg"
              name="myFile"
              class="drop-zone__input"
            />
            <span class="drop-zone__prompt"
              >Drop file here or click to upload</span
            >
          </div>
          <button
            id="save"
            mat-button=""
            mat-raised-button=""
            color="primary"
            type="submit"
            class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary mat-button-disabled"
          >
            <span class="mat-button-wrapper">Salva</span
            ><span matripple="" class="mat-ripple mat-button-ripple"></span
            ><span class="mat-button-focus-overlay"></span>
          </button>
        </fieldset>
      </form>
    </mat-card-title>
  </mat-card>
</div>
