<div>
  <mat-card id="card">
    <p id="title">Preferenze di stile</p>
    <mat-card-title>
      <h5>Cambia il logo per i tenant</h5>
      <div class="drop-zone">
        <span class="drop-zone__prompt">Drop file here or click to upload</span>
        <input type="file" name="myFile" class="drop-zone__input" />
      </div>
      <button id="save" mat-button="" mat-raised-button="" color="primary" type="submit" class="mat-focus-indicator mat-button mat-raised-button mat-button-base mat-primary mat-button-disabled">
        <span class="mat-button-wrapper">Salva</span
        ><span matripple="" class="mat-ripple mat-button-ripple"></span
        ><span class="mat-button-focus-overlay"></span>
      </button>
    </mat-card-title>
  </mat-card>
</div>
