#card {
  margin: 8px;
}

#square {
  width: 200px;
  height: 200px;
}

.title {
  font-size: 24px;
}

p {
  font-size: smaller;
}

#save {
  float: right;
}

#button {
  width: 200px;
  height: 200px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  background-color: transparent;
  display: flex;
  border: 4px dashed #308079;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: gray;
}
